/* Estilos generales */
* {
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

/* Estilos para el body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #adcee9; /* Fondo azul claro similar al agua */
    color: #333;
    margin-top: 80px; /* Ajusta este valor según la altura de tu header */
}

/* Estilos para el header */
header {
    background-color: #004080; /* Azul marino */
    color: #fff;
    padding: 20px;
    position: fixed; /* Mantiene el header fijo en la parte superior */
    top: 0; /* Posición desde la parte superior */
    left: 0; /* Posición desde la izquierda */
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul, .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li, .nav-links li {
    margin: 0 15px;
}

.navbar ul li a, .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover, .nav-links a:hover {
    color: #00aaff; /* Azul claro para hover */
}

/* Estilos para el botón de menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Ajusta la fuente para pantallas medianas */
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #007BFF;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }
}

.nav-links.open {
    display: flex;
}

/* Estilos para el logo */
.logo  {
    display: flex; /* Permite alinear los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
}

.logo img {
    width: 50px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.logo-text h1 {
    margin: 0; /* Elimina el margen por defecto */
    font-size: 24px; /* Tamaño de la fuente del título */
    color: white; /* Color del texto */
}

.logo-text h2 {
    margin: 0; /* Elimina el margen por defecto */
    font-size: 12px; /* Tamaño de la fuente del subtítulo */
    color: #e1e8eb; /* Color del subtítulo (azul claro) */
}

/* Estilos para la sección hero */
.hero {
    background: url('equipo.jpg') no-repeat center center; /* Centra la imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la sección */
    color: white;
    padding: 180px 20px; /* Aumenta el padding superior para bajar la sección */
    text-align: center;
}

.hero h2 {
    margin-bottom: 5px; /* Reduce el espacio debajo del título */
}

.hero p {
    margin-bottom: 20px; /* Reduce el espacio debajo del párrafo */
    font-family: cursive;
    font-size: 20px;
}

.hero .btn {
    margin-top: 10px; /* Reduce el espacio encima del botón */
    padding: 10px 20px; /* Ajusta el padding del botón para que sea más compacto */
    background-color: #00aaff; /* Botón azul claro */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #005f99; /* Botón más oscuro al hacer hover */
}

/* Estilos para la sección de información */
.info-section {
    padding: 50px 20px;
    text-align: center;
    scroll-margin-top: 80px;
}

.info-section h2 {
    font-size: 28px;
    color: #004080;
    font-family: cursive;
}

.info-section p {
    font-family: 'Georgia', serif; /* Fuente elegante */
    font-size: 20px; /* Tamaño de fuente más grande */
    line-height: 1.6; /* Espaciado entre líneas */
    color: #004080; /* Color azul marino */
    background-color: #f0f8ff; /* Fondo azul claro */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.534); /* Sombra para darle profundidad */
    margin: 20px auto; /* Centra el párrafo horizontalmente */
    max-width: auto; /* Ancho máximo del párrafo */
}

/* Estilos para el footer */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para el texto animado */
.ice-text {
    font-family: 'Arial', sans-serif;
    font-size: 5rem;
    color: #0ce0fc;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.575), 
                 0 0 20px rgba(255, 255, 255, 0.39), 
                 0 0 30px rgba(255, 255, 255, 0.123);
    background: linear-gradient(to bottom, #e0eefa, #80deea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Estilos para el contenedor de videos */
.video-container {
    position: relative;
    text-align: center;
    margin: 20px auto;
    width: 600px; /* Ajusta el tamaño del contenedor según el tamaño de tu imagen */
}

.video-legend {
    position: absolute;
    top: -30px; /* Ajusta la posición según la altura deseada */
    left: 50%;
    transform: translateX(-50%);
    background-color: #004080;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.video-image {
    width: 100%;
    border: 5px solid #004080; /* Borde alrededor de la imagen */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Estilos para los videos en secciones específicas */
.nosotros_class video,
.funcionalidad_class video {
    display: block;
    margin: 20px auto; /* Centra el video horizontalmente */
    border: 2px solid #004080; /* Añade un borde azul marino */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para la sección del equipo */
.team-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f0f8ff; /* Fondo azul claro */
    scroll-margin-top: 80px;
}

.team-section h2 {
    font-size: 32px;
    color: #004080; /* Azul marino */
    margin-bottom: 40px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    flex: 1 1 300px; /* Se ajusta a mínimo 300px, pero puede crecer */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}

.team-member img {
    width: 100%; /* Imagen se adapta al contenedor */
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.team-member h3 {
    font-size: 20px;
    color: #004080; /* Azul marino */
    margin: 10px 0; /* Espacio arriba y abajo */
}

.team-member p {
    font-size: 16px;
    line-height: 1.5; /* Espaciado entre líneas */
}

/* Footer */
footer {
    background-color: #004080; /* Azul marino */
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Ajusta la fuente para pantallas más pequeñas */
    }

    .team-container {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .team-member {
        max-width: 90%; /* Ajusta el ancho máximo para pantallas pequeñas */
    }

    .info-section p {
        font-size: 18px; /* Reduce el tamaño de la fuente */
    }
}

@media (min-width: 769px) {
    .team-member {
        flex: 1 1 calc(33.333% - 40px); /* Tres columnas en pantallas más grandes */
    }
}


    .contact-form input, .contact-form textarea {
        width: 100%; /* Asegura que el formulario de contacto se ajuste al ancho del contenedor */
    }
}
